IPP conformance: Send-Document with no data

Version: 1.4-current
CUPS.org User: mike

Per RFC 2911 section 3.3.2, Send-Document with no document data and "last-document" set to true must be allowed:

   This OPTIONAL operation is identical to the Send-Document operation
   (see section 3.3.1) except that a client MUST supply a URI reference
   ("document-uri" operation attribute) rather than the document data
   itself.  If a Printer object supports this operation, clients can use
   both Send-URI or Send-Document operations to add new documents to an
   existing multi-document Job object.  However, if a client needs to
   indicate that the previous Send-URI or Send-Document was the last
   document,  the client MUST use the Send-Document operation with no
   document data and the "last-document" flag set to 'true' (rather than
   using a Send-URI operation with no "document-uri" operation
   attribute).

Currently we error out if there is no document data. We should be only erroring out if there are no other files are in the job already.
