Sanitising job name and title

Version: 1.5.2
CUPS.org User: ef

Some of our printer's network interfaces (SEH for Kyocera) seem to lock up if the job name contains a Ctrl-S character (I assume some left-over from X-ON/X-OFF communication with an LCD board or such). Unfortunately, this is not a purely academic issue since Browser printouts of Wikipedia pages regularly contain that character.

As SEH seems not fix that, I'm running with something like the attached patch (which simply replaces control characters with periods) for some years now. I'm not sure whether this patch is of value to someone else or worth being included.


Hello,
I have a similar issue when printing PDF files having a Document title including unsupported CUPS characters. The job is discarded. I have an error as below:

D [13/May/2018:10:24:20 +0200] Create-Job client-error-attributes-or-values-not-supported: Bad job-name value: "job-name": Bad name value "Microsoft Word - Ravage_contrôle" - bad UTF-8 sequence (RFC 2911 section 4.1.2).
E [13/May/2018:10:24:20 +0200] [Client 17] Returning IPP client-error-attributes-or-values-not-supported for Create-Job (ipp://localhost/printers/hl-2140) from localhost

That's very annoying and sometimes difficult to circuvent.
Do you have a solution for this problem?

Kind regards,
valica