IPP printers from Windows Printserver queue not working

Hello,

We're running a **Windows Server** as **printserver**, which exports print queues for many printers. The printers use Microsoft IPP Class driver over IIS Webserver.

On Windows I can add a printer from a print queue, what is working great without any PPD or driver.
The print queue is for example:

`ipp://x.x.6.195:80/printers/pr-f076-hp479/.printer`

On Linux I try to add the print queue with _lpadmin_ but I'm failing:

`lpadmin -p pr-f076-hp479 -v ipp://x.x.6.195:80/printers/pr-f076-hp479/.printer -E`

This adds a printer in the printer configuration, but without any hardware information to the printer. Printing a testpage, gives me a page with the only text

```
#PDF-BANNER
Template default-testpage.pdf
Show printer-name printer-info printer
```

When I try to add the printer with the _everywhere_ model, I get:

```
lpadmin -p pr-f076-hp479 -v ipp://x.x.6.195:80/printers/pr-f076-hp479/.printer -E -m everywhere
lpadmin: Unable to create PPD: Printer does not support required IPP attributes or document formats.
```

I cannot get printer information for this printqueue on the Windows Printserver with ipptool:

```
ipptool -tv ipp://x.x.6.195/printers/pr-f076-hp479/.printer get-printer-attributes.test
ipptool: Unable to connect to "x.x.6.195" on port 631 - Connection timed out
```

I guess the Windows Printserver does not open port 631 for IPP communication?!
Printers are advertised by ISS over http.

ipptool over http returns no supported printer:

```
ipptool -tv ipp://x.x.6.195:80/printers/pr-f076-hp479/.printer get-printer-attributes.test
"/usr/share/cups/ipptool/get-printer-attributes.test":
    Get-Printer-Attributes:
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        printer-uri (uri) = ipp://x.x.6.195:80/printers/pr-f076-hp479/.printer
        requested-attributes (1setOf keyword) = all,media-col-database
    Get printer attributes using get-printer-attributes                  [FAIL]
        RECEIVED: 129 bytes in response
        status-code = server-error-version-not-supported (Server: (503) Version Not Supported)
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en-us
        status-message (textWithoutLanguage) = Server: (503) Version Not Supported
        Bad version 1.0 in response - expected 2.0 (RFC 8011 section 4.1.8).
        EXPECTED: STATUS successful-ok (got server-error-version-not-supported)
        status-message="Server: (503) Version Not Supported"
        EXPECTED: charset-configured
        EXPECTED: charset-supported
        EXPECTED: compression-supported
        EXPECTED: document-format-default
        EXPECTED: document-format-supported
        EXPECTED: generated-natural-language-supported
        EXPECTED: ipp-versions-supported
        EXPECTED: media-col-default
        EXPECTED: natural-language-configured
        EXPECTED: operations-supported
        EXPECTED: printer-info
        EXPECTED: printer-is-accepting-jobs
        EXPECTED: printer-location
        EXPECTED: printer-make-and-model
        EXPECTED: printer-more-info
        EXPECTED: printer-name
        EXPECTED: printer-state
        EXPECTED: printer-state-reasons
        EXPECTED: printer-up-time
        EXPECTED: printer-uri-supported
        EXPECTED: uri-authentication-supported
        EXPECTED: uri-security-supported
```

Of course, the printer has IPP (but I'm not able to use it as our company wants to use the printserver and hides printers in an own subnet.
So, is this a bug in CUPS when adding IPP printers from a Windows printserver or is it not possible and not implemented?



For the sake of completeness, printer attributes for the printer directly by ipp, not by printserver:

```
ipptool -tv ipp://pr-f076-hp479.printer.x get-printer-attributes.test

/usr/share/cups/ipptool/get-printer-attributes.test":
    Get-Printer-Attributes:
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        printer-uri (uri) = ipp://pr-f076-hp479.printer.x:631/
        requested-attributes (1setOf keyword) = all,media-col-database
    Get printer attributes using get-printer-attributes                  [PASS]
        RECEIVED: 644235 bytes in response
        status-code = successful-ok (successful-ok)
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        printer-uri-supported (1setOf uri) = ipp://pr-f076-hp479.printer.x/ipp/print,ipps://pr-f076-hp479.printer.x:631/ipp/print
        uri-security-supported (1setOf keyword) = none,tls
        uri-authentication-supported (1setOf keyword) = requesting-user-name,requesting-user-name
        printer-settable-attributes-supported (keyword) = none
        printer-name (nameWithoutLanguage) = pr-f076-hp479
        printer-location (textWithoutLanguage) = F0.76
        printer-more-info (uri) = http://pr-f076-hp479.printer.x/#hId-pgAirPrint
        printer-info (textWithoutLanguage) = HP Color LaserJet Pro M478f-9f \[B40B4E]
        printer-dns-sd-name (nameWithoutLanguage) = HP Color LaserJet Pro M478f-9f \[B40B4E]
        printer-make-and-model (textWithoutLanguage) = HP Color LaserJet Pro M478f-9f
        printer-state (enum) = idle
        printer-state-reasons (keyword) = none
        printer-state-message (textWithoutLanguage) = 
        ipp-versions-supported (1setOf keyword) = 1.0,1.1,2.0
        operations-supported (1setOf enum) = Print-Job,Validate-Job,Cancel-Job,Cancel-My-Jobs,Get-Job-Attributes,Get-Jobs,Get-Printer-Attributes,Create-Job,Send-Document,Set-Printer-Attributes,0x4029,0x402a,Print-URI,Send-URI,Close-Job,Identify-Printer
        charset-configured (charset) = utf-8
        charset-supported (charset) = utf-8
        natural-language-configured (naturalLanguage) = en
        generated-natural-language-supported (1setOf naturalLanguage) = en,fr,it,de,es,da,nl,fi,no,sv,pt,ru,tr,pl,cs,hu,ca,ro,hr,sl,sk,el,ar,he,id,ko,zh-cn,zh-tw,th
        printer-strings-languages-supported (1setOf naturalLanguage) = en,fr,it,de,es,da,nl,fi,no,sv,pt,ru,tr,pl,cs,hu,ca,ro,hr,sl,sk,el,ar,he,id,ko,zh-cn,zh-tw,th
        printer-strings-uri (uri) = http://pr-f076-hp479.printer.x/ipp/files/en.strings
        document-format-default (mimeMediaType) = application/octet-stream
        document-format-supported (1setOf mimeMediaType) = application/vnd.hp-PCL,application/vnd.hp-PCLXL,application/postscript,application/msword,application/pdf,image/jpeg,image/urf,image/pwg-raster,application/PCLm,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/octet-stream
        document-format-version-supported (1setOf textWithoutLanguage) = PCL5c,PCLXL,PS/3,NATIVEOFFICE,PDF/1.7,PJL,Automatic,JPEG,AppleRaster,PWGRaster,PCLM,NATIVEOFFICE,NATIVEOFFICE,NATIVEOFFICE,NATIVEOFFICE,NATIVEOFFICE
        document-format-details-default (collection) = {document-format=application/octet-stream}
        printer-is-accepting-jobs (boolean) = true
        queued-job-count (integer) = 0
        pdl-override-supported (keyword) = attempted
        printer-up-time (integer) = 8519266
        printer-current-time (dateTime) = 2026-01-14T13:47:22Z
        compression-supported (1setOf keyword) = none,deflate,gzip
        color-supported (boolean) = true
        job-creation-attributes-supported (1setOf keyword) = copies,finishings,finishings-col,job-pages-per-set,sides,orientation-requested,media,print-quality,printer-resolution,output-bin,media-col,output-mode,print-content-optimize,pclm-source-resolution,print-color-mode,ipp-attribute-fidelity,job-name,page-ranges,multiple-document-handling,job-mandatory-attributes,overrides,print-rendering-intent,print-scaling
        reference-uri-schemes-supported (1setOf uriScheme) = http,https
        printer-device-id (textWithoutLanguage) = MFG:HP;MDL:HP Color LaserJet Pro M478f-9f;CMD:PCL5c,PCLXL,POSTSCRIPT,NATIVEOFFICE,PDF,PJL,Automatic,JPEG,AppleRaster,PWGRaster,PCLM,NATIVEOFFICE,NATIVEOFFICE,NATIVEOFFICE,NATIVEOFFICE,NATIVEOFFICE,802.11,802.3,DESKJET,DYN;CLS:PRINTER;DES:W1A80A;CID:HPLJPDLV1;LEDMDIS:USB#FF#04#01,USB#FF#CC#00;MCT:MF;MCL:DI;MCV:5.0;SN:CNCRQ8X8J7;S:038888C48400000100401000000040000000500000006000000;Z:05000001000001000001000001,12000,17000000000000000000000000,181;
        printer-alert (1setOf octetString) = code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other,code=unknown;severity=other;group=other
        printer-alert-description (1setOf textWithoutLanguage) = ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Sleep Mode
        printer-uuid (uri) = urn:uuid:a7749f97-cdb3-5b39-77cf-a3ce357bda89
        landscape-orientation-requested-preferred (enum) = 4
        job-constraints-supported (1setOf collection) = {resolver-name=fullbleed-sizes media-top-margin=0 media-bottom-margin=0 media-left-margin=0 media-right-margin=0 media=na_letter_8.5x11in,na_legal_8.5x14in,na_executive_7.25x10.5in,na_foolscap_8.5x13in,na_index-4x6_4x6in,na_index-5x8_5x8in,iso_a4_210x297mm,iso_a5_148x210mm,iso_a6_105x148mm,jis_b5_182x257mm,jis_b6_128x182mm,om_small-photo_100x150mm,na_oficio_8.5x13.4in,om_16k_195x270mm,om_16k_184x260mm,roc_16k_7.75x10.75in,jpn_hagaki_100x148mm,jpn_oufuku_148x200mm,na_number-10_4.125x9.5in,na_monarch_3.875x7.5in,iso_b5_176x250mm,iso_c5_162x229mm,iso_dl_110x220mm},{resolver-name=duplex-types sides=two-sided-short-edge,two-sided-long-edge media=na_letter_8.5x11in,na_legal_8.5x14in,na_executive_7.25x10.5in,na_foolscap_8.5x13in,iso_a4_210x297mm,jis_b5_182x257mm,na_oficio_8.5x13.4in,om_16k_195x270mm,om_16k_184x260mm,roc_16k_7.75x10.75in media-type=com.hp.cover-matte,cardstock,labels,envelope,envelope-heavyweight,photographic-film},{resolver-name=duplex-sizes sides=two-sided-short-edge,two-sided-long-edge media=na_index-4x6_4x6in,na_index-5x8_5x8in,iso_a5_148x210mm,iso_a6_105x148mm,jis_b6_128x182mm,om_small-photo_100x150mm,jpn_hagaki_100x148mm,jpn_oufuku_148x200mm,na_number-10_4.125x9.5in,na_monarch_3.875x7.5in,iso_b5_176x250mm,iso_c5_162x229mm,iso_dl_110x220mm}
        job-resolvers-supported (1setOf collection) = {resolver-name=fullbleed-sizes media-top-margin=423 media-bottom-margin=423 media-left-margin=423 media-right-margin=423},{resolver-name=duplex-types sides=one-sided},{resolver-name=duplex-sizes sides=one-sided}
        ipp-features-supported (1setOf keyword) = airprint-1.8,ipp-everywhere,page-overrides
        which-jobs-supported (1setOf keyword) = completed,not-completed,all
        job-ids-supported (boolean) = true
        requesting-user-uri-supported (boolean) = true
        multiple-operation-time-out-action (keyword) = abort-job
        printer-geo-location (unknown) = unknown
        hp-pc-version-major (integer) = 0
        hp-pc-version-minor (integer) = 6
        hp-default-duplex-standard (boolean) = false
        hp-print-quality-supported (1setOf collection) = {type=11 imaging-technology=2005 display-string=1005 optimal-resolution=600},{type=4 imaging-technology=2000 display-string=1000 optimal-resolution=600}
        hp-image-enhancement-support (1setOf keyword) = advance-image-control,rgb-color-themes
        mopria-certified (textWithoutLanguage) = 2.0
        preferred-attributes-supported (boolean) = false
        printer-config-change-date-time (dateTime) = 2025-08-04T11:21:32Z
        printer-config-change-time (integer) = 0
        printer-state-change-date-time (dateTime) = 2026-01-14T13:31:12Z
        printer-state-change-time (integer) = 8518296
        document-password-supported (integer) = 0
        printer-kind (keyword) = document
        media-supported (1setOf keyword) = na_letter_8.5x11in,na_legal_8.5x14in,na_executive_7.25x10.5in,na_foolscap_8.5x13in,na_index-4x6_4x6in,na_index-5x8_5x8in,iso_a4_210x297mm,iso_a5_148x210mm,iso_a6_105x148mm,jis_b5_182x257mm,jis_b6_128x182mm,om_small-photo_100x150mm,na_oficio_8.5x13.4in,om_16k_195x270mm,om_16k_184x260mm,roc_16k_7.75x10.75in,jpn_hagaki_100x148mm,jpn_oufuku_148x200mm,na_number-10_4.125x9.5in,na_monarch_3.875x7.5in,iso_b5_176x250mm,iso_c5_162x229mm,iso_dl_110x220mm,custom_min_3.875x5.8267in,custom_max_8.5x14in
        media-default (keyword) = iso_a4_210x297mm
        media-col-supported (1setOf keyword) = media-type,media-size,media-top-margin,media-left-margin,media-right-margin,media-bottom-margin,media-source,media-size-name
        media-col-default (collection) = {media-size={x-dimension=21000 y-dimension=29700} media-top-margin=423 media-bottom-margin=423 media-left-margin=423 media-right-margin=423 media-source=auto media-type=stationery}
        media-col-database (1setOf collection) =         finishings-col-database (no-value) = no-value
        media-left-margin-supported (integer) = 423
        media-right-margin-supported (integer) = 423
        media-top-margin-supported (integer) = 423
        media-bottom-margin-supported (integer) = 423
        media-source-supported (1setOf keyword) = tray-1,tray-2,auto
        media-type-supported (1setOf keyword) = stationery,com.hp.matte-lightweight,com.hp.matte-intermediateweight,com.hp.matte-midweight,com.hp.matte-heavyweight,com.hp.cover-matte,com.hp.glossy-brochure-midweight,com.hp.glossy-brochure-heavyweight,com.hp.glossy-trifold-heavyweight,com.hp.glossy-brochure-extraheavyweight,com.hp.stationery-lightweight,com.hp.ecosmart-lite,com.hp.intermediate,com.hp.midweight,com.hp.stationery-heavyweight,com.hp.extra-heavy,cardstock,com.hp.glossy-heavyweight,com.hp.glossy-extraheavyweight,com.hp.glossy-cardstock,labels,stationery-letterhead,envelope,envelope-heavyweight,stationery-preprinted,stationery-prepunched,stationery-colored,com.hp.stationery-bond,com.hp.recycled,com.hp.rough,com.hp.rough-heavyweight,photographic-film
        media-size-supported (1setOf collection) = {x-dimension=21590 y-dimension=27940},{x-dimension=21590 y-dimension=35560},{x-dimension=18415 y-dimension=26670},{x-dimension=21590 y-dimension=33020},{x-dimension=10160 y-dimension=15240},{x-dimension=12700 y-dimension=20320},{x-dimension=21000 y-dimension=29700},{x-dimension=14800 y-dimension=21000},{x-dimension=10500 y-dimension=14800},{x-dimension=18200 y-dimension=25700},{x-dimension=12800 y-dimension=18200},{x-dimension=10000 y-dimension=15000},{x-dimension=21590 y-dimension=34036},{x-dimension=19500 y-dimension=27000},{x-dimension=18400 y-dimension=26000},{x-dimension=19685 y-dimension=27305},{x-dimension=10000 y-dimension=14800},{x-dimension=14800 y-dimension=20000},{x-dimension=10477 y-dimension=24130},{x-dimension=9842 y-dimension=19050},{x-dimension=17600 y-dimension=25000},{x-dimension=16200 y-dimension=22900},{x-dimension=11000 y-dimension=22000},{x-dimension=9842-21590 y-dimension=14799-35560}
        media-ready (keyword) = iso_a4_210x297mm
        media-col-ready (1setOf collection) = {media-size={x-dimension=21000 y-dimension=29700} media-top-margin=423 media-bottom-margin=423 media-left-margin=423 media-right-margin=423 media-source=tray-2 media-type=stationery},{media-size={x-dimension=21000 y-dimension=29700} media-top-margin=423 media-bottom-margin=423 media-left-margin=423 media-right-margin=423 media-source=tray-2 media-type=stationery}
        finishings-col-ready (no-value) = no-value
        finishings-col-supported (keyword) = finishing-template
        printer-finisher (octetString) = 
        printer-finisher-description (octetString) = 
        pages-per-minute (integer) = 28
        pages-per-minute-color (integer) = 28
        jpeg-k-octets-supported (rangeOfInteger) = 0-16384
        jpeg-x-dimension-supported (rangeOfInteger) = 0-16384
        jpeg-y-dimension-supported (rangeOfInteger) = 1-16384
        pdf-k-octets-supported (rangeOfInteger) = 0-65536
        pdf-size-constraints (rangeOfInteger) = 0-65536
        pdf-fit-to-page-default (boolean) = false
        pdf-fit-to-page-supported (boolean) = false
        pdf-versions-supported (1setOf keyword) = iso-32000-1_2008,adobe-1.7,adobe-1.6,adobe-1.5,iso-19005-1_2005,adobe-1.4,adobe-1.3,adobe-1.2
        urf-supported (1setOf keyword) = CP1,MT1-2-8-9-10-11,PQ3-4-5,RS600,SRGB24,OB10,W8,DEVW8,DEVRGB24,ADOBERGB24,DM3,IS19-1-2,V1.4,FN3
        marker-names (1setOf nameWithoutLanguage) = black cartridge,cyan cartridge,magenta cartridge,yellow cartridge
        marker-colors (1setOf nameWithoutLanguage) = #000000,#00FFFF,#FF00FF,#FFFF00
        marker-types (1setOf keyword) = toner-cartridge,toner-cartridge,toner-cartridge,toner-cartridge
        marker-low-levels (1setOf integer) = 2,2,2,2
        marker-high-levels (1setOf integer) = 100,100,100,100
        marker-levels (1setOf integer) = 70,70,80,70
        printer-supply (1setOf octetString) = type=tonerCartridge;maxcapacity=100;level=70;class=supplyThatIsConsumed;unit=percent;colorantname=black;,type=tonerCartridge;maxcapacity=100;level=70;class=supplyThatIsConsumed;unit=percent;colorantname=cyan;,type=tonerCartridge;maxcapacity=100;level=80;class=supplyThatIsConsumed;unit=percent;colorantname=magenta;,type=tonerCartridge;maxcapacity=100;level=70;class=supplyThatIsConsumed;unit=percent;colorantname=yellow;
        printer-supply-description (1setOf textWithoutLanguage) = Black Cartridge,Cyan Cartridge,Magenta Cartridge,Yellow Cartridge
        printer-firmware-name (nameWithoutLanguage) = CLRWTRXXXN002.2149A.00
        printer-firmware-string-version (textWithoutLanguage) = CLRWTRXXXN002.2149A.00
        printer-firmware-version (octetString) = CLRWTRXXXN002.2149A.00
        printer-input-tray (1setOf octetString) = type=unRemovableBin;dimunit=micrometers;mediafeed=0;mediaxfeed=0;maxcapacity=-2;level=-2;unit=percent;status=19;name=Tray\ 1,type=sheetFeedAutoNonRemovable;dimunit=micrometers;mediafeed=297000;mediaxfeed=210000;maxcapacity=-2;level=-2;unit=percent;status=0;name=Tray\ 2,type=other;dimunit=micrometers;mediafeed=-2;mediaxfeed=-2;maxcapacity=-2;level=-2;unit=percent;status=0;name=auto
        printer-output-tray (octetString) = type=unknown;maxcapacity=-2;remaining=-2;status=5;stackingorder=unknown;pagedelivery=faceDown;name=OutputTray1
        copies-default (integer) = 1
        finishings-default (enum) = none
        finishings-col-default (no-value) = no-value
        orientation-requested-default (enum) = portrait
        print-quality-default (enum) = normal
        printer-resolution-default (resolution) = 600dpi
        sides-default (keyword) = one-sided
        output-bin-default (keyword) = face-down
        output-mode-default (keyword) = auto
        print-color-mode-default (keyword) = auto
        multiple-document-handling-default (keyword) = separate-documents-uncollated-copies
        number-up-default (integer) = 1
        presentation-direction-number-up-default (keyword) = toright-tobottom
        print-rendering-intent-default (keyword) = auto
        print-scaling-default (keyword) = auto
        job-account-id-default (nameWithoutLanguage) = 
        job-accounting-user-id-default (nameWithoutLanguage) = 
        copies-supported (rangeOfInteger) = 1-99
        finishings-supported (enum) = none
        job-pages-per-set-supported (boolean) = false
        orientation-requested-supported (1setOf enum) = portrait,landscape,reverse-landscape,reverse-portrait,none
        print-quality-supported (1setOf enum) = draft,normal,high
        printer-resolution-supported (1setOf resolution) = 600dpi,600dpi,600dpi
        sides-supported (1setOf keyword) = one-sided,two-sided-short-edge,two-sided-long-edge
        output-bin-supported (keyword) = face-down
        output-mode-supported (1setOf keyword) = auto,auto-monochrome,monochrome,color
        print-color-mode-supported (1setOf keyword) = auto,auto-monochrome,monochrome,color,process-monochrome
        page-ranges-supported (boolean) = true
        multiple-document-handling-supported (1setOf keyword) = separate-documents-uncollated-copies,separate-documents-collated-copies
        number-up-supported (integer) = 1
        presentation-direction-number-up-supported (keyword) = toright-tobottom
        overrides-supported (1setOf keyword) = pages,document-numbers,media,media-col
        print-rendering-intent-supported (1setOf keyword) = auto,perceptual
        print-scaling-supported (1setOf keyword) = auto,auto-fit,fill,fit,none
        printer-icons (1setOf uri) = http://pr-f076-hp479.printer.x/images/printer-small.png,http://pr-f076-hp479.printer.x/images/printer.png,http://pr-f076-hp479.printer.x/images/printer-large.png
        printer-supply-info-uri (uri) = http://pr-f076-hp479.printer.x/#hId-pgConsumables
        print-content-optimize-default (keyword) = auto
        print-content-optimize-supported (1setOf keyword) = auto,photo,graphics,text,text-and-graphics
        job-account-id-supported (boolean) = false
        job-accounting-user-id-supported (boolean) = false
        pwg-raster-document-sheet-back (keyword) = rotated
        pwg-raster-document-type-supported (1setOf keyword) = sgray_8,srgb_8,adobe-rgb_8,rgb_8
        pwg-raster-document-resolution-supported (resolution) = 600dpi
        epcl-version-supported (textWithoutLanguage) = 1.0
        manual-duplex-supported (boolean) = false
        pclm-source-resolution-supported (resolution) = 600dpi
        pclm-source-resolution-default (resolution) = 600dpi
        pclm-strip-height-supported (integer) = 64
        pclm-strip-height-preferred (integer) = 64
        pclm-raster-back-side (keyword) = rotated
        pclm-compression-method-preferred (1setOf keyword) = jpeg,flate,rle
        document-format-varying-attributes (1setOf keyword) = copies,orientation-requested,job-pages-per-set
        printer-get-attributes-supported (keyword) = document-format
        printer-organization (textWithoutLanguage) = 
        printer-organizational-unit (textWithoutLanguage) = 
        identify-actions-default (keyword) = display
        identify-actions-supported (1setOf keyword) = display,sound
        limit-operations-supported (enum) = 10
        multiple-operation-time-out (integer) = 120
        multiple-document-jobs-supported (boolean) = false
        jpeg-features-supported (1setOf keyword) = arithmetic,cmyk,progressive

```


@orclex 

this place (i.e. 'apple/cups') does not contain current CUPS.

Current CUPS upstream is at
https://github.com/OpenPrinting/cups

See "A Brief History of CUPS" at
https://openprinting.github.io/cups/


Thanks, I'll try it on 
https://github.com/OpenPrinting/cups
and close this one.