CUPS 1.6.1 run-stp-tests.sh fails at ipp-1.1.test, Get-Jobs Operation (requested-attributes)

Version: 1.6.1
CUPS.org User: odyx

Hi,

while building CUPS 1.6.1 on Debian (current sid, roughly equivalent to Wheezy), I noticed that the run-stp-tests.sh launched by "make check" fails during the ipp-1.1.test, with that output:

RFC 2911 section 3.2.6: Get-Jobs Operation (requested-attributes)    [FAIL]
        RECEIVED: 72 bytes in response
        status-code = successful-ok (successful-ok)
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        EXPECTED: job-id
        EXPECTED: job-uri
        EXPECTED: job-printer-uri
        EXPECTED: job-name
        EXPECTED: job-originating-user-name
        EXPECTED: job-state
        EXPECTED: job-state-reasons
        EXPECTED: time-at-creation
        EXPECTED: time-at-processing
        EXPECTED: time-at-completed
        EXPECTED: job-printer-up-time

Then other errors occur and the error_log has 5 superfluous error messages.

The configure is launched with the following arguments:

--mandir=/usr/share/man --with-docdir=/usr/share/cups/doc-root --localedir=/usr/share/cups/locale --enable-slp --enable-libpaper --enable-ssl --enable-gnutls --disable-openssl --enable-threads --enable-static --enable-debug --enable-dbus --with-dbusdir=/etc/dbus-1 --enable-gssapi --enable-avahi --with-pdftops=/usr/bin/gs --disable-launchd --with-cups-group=lp --with-system-groups=lpadmin --with-printcap=/var/run/cups/printcap --with-log-file-perm=0640 --with-local_protocols='CUPS dnssd' --with-remote_protocols='CUPS dnssd' --enable-libusb

And there are plenty of patches: http://anonscm.debian.org/loggerhead/pkg-cups/cups/debian-trunk/files/head:/debian/patches/

It is to be noted that the situation with regards to the tests is worse without the patches.

Cheers,

OdyX
