'ippfind' tool doesn't support DNS-SD service instance names with leading "_" or "-"

Originally filed in ippeveselfcert project:

```
https://github.com/istopwg/ippeveselfcert/issues/2
```

According to RFC 6763 section 4.1.1 (http://tools.ietf.org/html/rfc6763#section-4.1.1) a DNS-SD instance name may contain up to 63 octets of printable (non-control character) Net-Unicode characters. There is no restriction on the allowable characters for the first character. That includes the underscore ("_") and dash ("-") characters.

The 'ippfind' tool supports the following option and argument syntaxes:
ippfind [ options ] regtype[,subtype][.domain.] ... [ expression... ]
ippfind [ options ] name[.regtype[.domain.]] ... [ expression... ]

If 'ippfind' is used with a printer whose service instance name is "Smitty Normal Printer._ipp._tcp.local.", the 'ippfind' tool will assume the form being used is the first form, but the user will be wanting it to use the second form.

There is the "-n" or "--name" argument, which can be used as a workaround, but it would be better to collapse them into a single form and depend on the "-n" argument for all instances where the name is provided.


[master d56216499] Fix "ippfind _SomeName" (Issue #4833)
