notify-lease-duration is not present in a response for IPP_RENEW_SUBSCRIPTION

Version: 1.2.8
CUPS.org User: dsharov

'notify-lease-duration' attribute is not returned by scheduler for IPP_RENEW_SUBSCRIPTION request.
According to RFC3995 section 11.2.6.2.1.,  "notify-lease-duration" is a MUST attribute for a response to IPP_RENEW_SUBSCRIPTION request.

This issue is also valid for 1.3.

---

Request:
Renew-Subscription = (
   operation-attributes-tag = (
   attributes-charset = 'utf-8' of charset, 
   attributes-natural-language = 'en_US' of naturalLanguage, 
   printer-uri = 'ipp://localhost:631/printers/TestQueue' of uri, 
   requesting-user-name = 'user' of nameWithoutLanguage, 
   notify-subscription-id = '86' of integer
), 
   subscription-attributes-tag = (notify-lease-duration = '100' of integer)
)

Response:
successful-ok = (
   operation-attributes-tag = (
   attributes-charset = 'utf-8' of charset, 
   attributes-natural-language = 'en-us' of naturalLanguage
)
)

cups/error_log:
...
d [22/Mar/2007:17:43:27 +0200] POST /
d [22/Mar/2007:17:43:27 +0200] CONTENT_TYPE = application/ipp
d [22/Mar/2007:17:43:27 +0200] cupsdReadClient: 12 con->data_encoding=HTTP_ENCODE_LENGTH, con->data_remaining=225, con->file=-1
d [22/Mar/2007:17:43:27 +0200] cupsdProcessIPPRequest(0x82b600[12]): operation_id = 001a
D [22/Mar/2007:17:43:27 +0200] Renew-Subscription ipp://localhost:631/printers/test_printer
d [22/Mar/2007:17:43:27 +0200] renew_subscription(con=0x82b600[12], sub_id=553)
d [22/Mar/2007:17:43:27 +0200] cupsdFindPolicyOp(p=0x30dfb0, op=1a(Renew-Subscription))
d [22/Mar/2007:17:43:27 +0200] cupsdFindPolicyOp: Found exact match...
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: con->uri="/", con->best=0x30e3a0((null))
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: owner="user"
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: level=AUTH_USER, type=AUTH_NONE, satisfy=AUTH_SATISFY_ALL, num_names=2
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: op=1a(Renew-Subscription)
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: auth=AUTH_ALLOW...
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: requesting-user-name="user"
d [22/Mar/2007:17:43:27 +0200] cupsdIsAuthorized: Checking user membership...
I [22/Mar/2007:17:43:27 +0200] Saving subscriptions.conf...
D [22/Mar/2007:17:43:27 +0200] cupsdProcessIPPRequest: 12 status_code=0 (successful-ok)
d [22/Mar/2007:17:43:27 +0200] cupsdProcessIPPRequest: Adding fd 12 to OutputSet...
d [22/Mar/2007:17:43:27 +0200] cupsdWriteClient: 12 bytes < 0
